.header-logo {
    background-image: url("../images/mmpose-logo.png");
    background-size: 120px 50px;
    height: 50px;
    width: 120px;
}

<<<<<<< HEAD
table.autosummary td {
    width: 35%
=======
table.colwidths-auto td {
    width: 50%
>>>>>>> 78c4c99c ([Refactor] Integrate webcam apis into MMPose package (#1404))
}
